<!DOCTYPE html>
<html lang="en">
<head>
    <title>index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/index_style.css' %}">
</head>
<body>

{% for item in to_do_list %}
        Entered by: {{ item.who_added }} <br />
      Assigned to: {{ item.who_assigned }}<br />
      What needs done: {{ item.to_do_name }}<br />
      When it was added: {{ item.add_date }}<br />
      When it needs completed: {{ item.due_date }}<br />
       <br />

{% endfor %}

</body>
</html>
